.navbar{
  border: 2px solid black

}

.home{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  justify-content: center;
}

@media (max-width: 750px){
  .home{
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
